body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

#supra-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#calculator{
    height: 650px;
    width: 375px;
    background-color: #3c3c3c;
    border-radius: 5px;
    padding: 20px;
    padding-top: 65px;
}

#calculator-screen{
    background-color: #808273;
    width: 100%;
    position: relative;
    height: 20%;
    display: flex;
    flex-direction: column;
}

/*Key Pad*/
#calculator-keys{
    display: grid;
    margin-top: 5%;
    height: 75%;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr) ;
}

.button-div{
    height: 100%;
    width: 100%;
}

.button{
    height: 100%;
    width: 100%;
    border-color: #3c3c3c;
    border-width: 1px;
}

.button.number{
    background-color: #878787;
}

.button.clear{
    background-color: #e5b748;
}

.button:hover {
    filter: brightness(85%);
}

/*Screen*/
#screen-div{
    height: 60%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#result-div{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 25px;
}

@font-face {
    font-family:digital-7mono;
    src: url("digital-7\ \(mono\).ttf");
}

*{
    font-size: 30px;
}

#screen{
    font-family: digital-7mono;
    font-size: 50px
}

#result{
    font-family: digital-7mono;
    font-size: 30px;
    display: block; 
    width:100%; 
    text-align:right;
}

@media(orientation:portrait){
    #calculator{
        height: 100vh;
        box-sizing: border-box;
        width: 100vw;
    }

    body{
        background-color: #3c3c3c;
    }
}